<%- include('header') -%> 

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati quod expedita ipsum aspernatur? Illo porro fugit dolorem vitae molestias suscipit nesciunt veritatis? Asperiores tempore suscipit optio neque facere in.</p>

<%- include('footer') -%> 
